<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
MURASE SHIMADA LAB
LASTEST UPDATE 2015/05/02
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Murase, Shimada Lab</title>
<link href="/lab/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/lab/css/lightbox.css" rel="stylesheet">

</head>
<body>


<div id="wrapper">

  <!-- end #header -->
<div id="page">
  <div id="page-bgtop">
    <div id="page-bgbtm">
<!-- end #menu -->


<div id="content">
  <div class="post">
    <h2 class="title"><a>ようこそ, 楫研究室へ</a></h2>
    <p class="meta"></p>
    <div class="entry">
      <p>
        楫研究室では, セキュリティ関連の研究と油そばの研究をしています.
      </p>
    </div>
  </div>
  <br/><hr/>
  <div class="post">
    <h2 class="title"><a>研究テーマ</a></h2>
    <div class="entry">
      <ul>
        <li><h4>RSA暗号におけるタイミング攻撃</h4>
        </li>
        <li><h4>分散アプリケーション</h4>
        </li>
        <li><h4>ゼロ知識証明を用いた研究</h4>
        </li>
      </ul>
    </div>
  </div>
  <hr/>

  <div class="post">
    <h2 class="title">リンク</h2>
    <div class="entry">
      <ul>
	<li><a href="http://www.nagoya-u.ac.jp/">名古屋大学</a></li>
	<li><a href="http://www.i.nagoya-u.ac.jp/">名古屋大学　情報学研究科</a></li>
      </ul>
    </div>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->
<div style="clear: both;">&nbsp;</div>
      </div>
    </div>
  </div>
<!-- end #page -->
</div>
<div id="footer-wrapper">

</div>
<script src="/lab/js/google.a.js"></script>
<script src="/lab/js/jquery-1.11.3.min.js"></script>
<script src="/lab/js/lightbox.min.js"></script>
<script src="/lab/js/jquery.lazyload.min.js"></script>
<script>
  $("img").lazyload({
  effect: 'fadeIn',
  effectspeed: 500
});
</script>
<!-- end #footer -->
</body>
</html>
