<div class="name">
  <h2>Name</h2>
  <p><%= @member.name %></p>
</div>

<div class="name">
  <h2 class="border">Grade</h2>
  <p><%= @member.grade %></p>
</div>

<div class="name">
  <h2 class="border">Introduction</h2>
  <p><%= @member.introduction %></p>
</div>

<div class="name">
  <h2 class="border">Prefecture</h2>
  <p><%= @member.prefecture %></p>
</div>
